.first{

    font-size: 50px;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
}

.first:hover{
    background-color: red;
    color: black;
}


a{

    font-size: 50px;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
    
}

a:hover{
    background-color: rgb(74, 165, 170);
}